* {margin: 0;
  padding: 0;
box-sizing: border-box;}

 body {font-family: 'Merriweather', serif;;}

header {background-color: white;
  font-family: 'Merriweather', serif;
  top:0rem;
  position:sticky;
  z-index: 3;
  display:flex;
  justify-content:space-between;
border:3px solid #373741}

.logo { 
width: auto;
height:auto;
margin-left: 1.5rem;}


nav{position: relative;
z-index:2;
margin-top: 2rem;}

nav ul li{
  display: inline;
  position: relative;
  text-align:right;}

nav ul li a {
  color:#373741;
  text-transform: uppercase;
  text-decoration:none;
  font-weight: 700;}

li:hover{background-color:#cdcbcd;
  width: auto; height: auto;
 transition: all 1s; 
transform:scale(1.3);}


li {list-style: none;
  text-align:center;
font-size:14px;
border: 3px solid #373741;
margin-top:2rem;
margin:1rem;
padding:3px;}

h1 {color:rgba(5, 5, 5, 0.4);
font-size: 4rem;
font-family:'Anton', sans-serif;
font-weight: bolder;
text-align:center;
display: inline-block;
margin-left: 2rem;
margin-top: 5rem;}  

h2 {text-align:center;
margin:3rem;
color:white;
font-size: 30px;
font-weight: 400;
text-transform:uppercase;
background:grey;
Border:2px solid black}

h3 {text-align:center;
  margin:2rem;
  font-weight: 400;
  font-size:30px;
  text-transform:uppercase;
background:#BAD9A2;}


p {font-size: 18px;
  line-height: 2rem; 
  text-align:center;
  padding:2rem;
}
  
.propuestas p {font-size: 20px;
    line-height:2rem; 
    text-align:center;
    margin-top:2rem;}

.imagenbienvenida{border-radius:4px;
border:2px solid grey}
.imagenconocenos{border-radius:4px;
  border:2px solid grey}

section img{
display:block;
margin:auto;
opacity: 93%;
border-radius:2px;}

section{
width: auto;
margin:auto;}

footer{text-align:center;
background-color:#6666;
display: flex;
justify-content: space-around;
align-items: center;
margin: 0.5rem;
padding:0.5rem;
}

footer p {background:white;
margin:0.5rem;
padding:1rem;
text-align: center;
font-size:15px;}

.propuestas{
margin-top: 10rem;
margin-bottom: 10rem;
font-size:25px;
text-align:center;}

.propuestas article{margin-top: 15rem;}

.propuestas img{margin-top: 5rem;}


.bienvenidos{margin-top: 12rem;}
.bienvenidos article {margin:5rem;
  display: inline-flex;
  justify-content: start;}

  article{margin-bottom: 3rem;
  margin-top: 3rem;}

.bienvenidos2{ border :2px solid #373741}

.quienesomos article{margin:2rem;
display: inline-flex;
justify-content: start;}

.quehacemos article{display:inline-flex;
  align-items: center;}

.quehacemos p {margin-top:2rem;}

.quehacemos img{width: 20%;
height:20%;
border:3px solid grey;
margin:1rem;}
.quehacemos h3 {text-align: center;}

.quehacemos2 {display:flex;
flex-flow:column;
width: fit-content;
height: fit-content;
text-align: center;}

.quehacemos2 h3{text-decoration-line: underline;}

.quehacemos2 p{ 
 margin:4rem;
text-align: center;}

.propuestas img{border:3px solid grey;}

form {margin:auto}

form{
	width:400px;
  padding:18px;
  border:3px solid black;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;}

form label{
	width:72px;
	font-weight:bold;
	display:inline-block;}

form input[type="text"],
form input[type="email"]{
width:362px;
padding:3px 10px;
border-radius:3px;
background-color:#f6f6f6;
margin:8px 0;
display:inline-block;
border:3px solid grey;}

form input[type="submit"]{
width:100%;
padding:8px 16px;
margin-top:32px;
border:4px solid #000;
border-radius:9px;
display:block;
color:#fff;
background-color:grey;} 

input:focus {
   width: 100px;
   font-size: 10px;}

input {
  width: auto; height: auto;
  transition: all 2s; }

textarea{
width:100%;
height:100px;
border-radius:3px;
background-color:#f6f6f6;			
margin:8px 0;
display:inline-block;
border:3px solid grey;}

#carouselExampleIndicators1{width: 50%;height:auto;
  display: inline-flex;
  align-items: center;
  border:3px solid grey;
  border-radius: 3px;}
  
  #carouselExampleIndicators2{width: 50%;height:auto;
    display: inline-flex;
    align-items: center;
  border:3px solid grey;
  border-radius: 3px;}
  .flecha{ width: 50%;
  height:10%;
  border:2px solid grey;}
  .carousel-indicators li {
  height: 5px;
  width: 5px;
  border-radius: 50%;}
  
  .boton{border:3px solid grey;
  padding:1rem;
  background-color:lightblue;
  margin-left:38rem;
  margin-bottom: 5rem;
  border-radius:4px;}
  
  .modal-title{font-size:40px;
  margin-left:1rem;
  text-transform:uppercase;}

  .carouselheader{margin-top: 0rem;
    height: 50%;}

.carousel {border-bottom: 5px solid grey;}

.contactanos { margin:2rem;}

.redes_sociales{width:fit-content;
height: auto;
margin-left:2rem;
padding:3px}

@media screen and (max-width: 768px) {
	header {
      display:inline;
      border:none
      }
      nav ul li{
        display: inline;
        margin-right: 1rem;
      border:1px solid grey}
.bienvenidos article {display:inline;}
.quienesomos article{margin:2rem;
         display: inline;}
.quehacemos article{display:inline;
            align-items: center;}
 .quehacemos img{width: 50%;
              height:50%;
              margin-right: 2rem;
        }